@model Newarren_fall24_Assignment3.Models.Movie

<h1>Details</h1>
<div>
    <h4>Actor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Length)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Length)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReleaseYear)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IMDBLink)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Poster != null)
            {
                var base64 = Convert.ToBase64String(Model.Poster);
                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                <img src="@imgSrc" height="100" width="100" />
            }
        </dd>
        <dd class="col-sm-10">
            <a href="@Model.IMDBLink" target="_blank">@Model.IMDBLink</a>
        </dd>
    </dl>
    <dl>
        <dd>
            <a asp-action="EditMenu" asp-route-id="@Model.Id">
                Edit Record
            </a>
        </dd>
        <dd>
            <a asp-action="ConfirmDelete" asp-route-id="@Model.Id">
                Delete Record
            </a>
        </dd>

        <dd>
            <a asp-action="Index">
                Go Back
            </a>
        </dd>
    </dl>
</div>